asgiref==3.2.10
attrs==20.3.0
autopep8==1.5.4
base58==2.0.1
bitarray==1.2.2
blake2b-py==0.1.3
cached-property==1.5.2
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cryptography==3.3.2
cytoolz==0.11.0
Django==3.1.1
django-cors-headers==3.5.0
djangorestframework==3.11.1
djangorestframework-jwt==1.11.0
ecdsa==0.14.1
eth-abi==2.1.1
eth-account==0.5.4
eth-bloom==1.0.3
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-tester==0.5.0b3
eth-typing==2.2.2
eth-utils==1.9.5
flake8==3.8.3
hexbytes==0.2.1
idna==2.10
ipfshttpclient==0.7.0a1
jsonschema==3.2.0
lru-dict==1.1.6
mccabe==0.6.1
multiaddr==0.0.9
mypy-extensions==0.4.3
netaddr==0.8.0
parsimonious==0.8.1
protobuf==3.14.0
py-ecc==4.1.0
py-evm==0.3.0a20
py-geth==2.4.0
py-solc==3.2.0
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.9
pyethash==0.1.27
pyflakes==2.2.0
PyJWT==1.7.1
pyrsistent==0.17.3
python-jose==3.2.0
pytz==2020.1
requests==2.24.0
rlp==2.0.0
rsa==4.6
rusty-rlp==0.1.15
semantic-version==2.8.5
six==1.15.0
sortedcontainers==2.3.0
sqlparse==0.3.1
toml==0.10.1
toolz==0.11.1
trie==2.0.0a5
typing-extensions==3.7.4.3
urllib3==1.25.10
varint==1.0.2
web3==5.13.0
websockets==8.1
