.MuiAppBar-colorPrimary {
    background-color: #141D26 !important;
}

.nav-title {
    padding-left: 100px;
}

.container {
    padding-right: 75px;
}
.container a {
    padding: 20px;
}

.menu-item{
    color:red
}